header {
  // top: 60px;
  // left: 60px;
  // right: 60px;
  // border: 3px solid blue;

  .header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    .header__inner__logo{
      // border: 3px solid blue;

    }
    .header__inner__nav{
      // border: 3px solid blue;
    }
  }

}